.repair-index {
    display: flex;
    flex-direction: column;
    .repair-index_item {
        flex-direction: row;
        height: 44px;
        line-height: 44px;
        background-color: #fff;
        padding: 0 10px;
    }
}